:root {
  --foreground-dark: #a8657f;
  --foreground-light: #b5a8dd;
  --background-dark: #b8a4acb9;
  --background-light: #f7e9f6;
}

* {
  box-sizing: border-box;
  a {
    display: flex;
    align-items: center;
  }
  .material-symbols-outlined {
    margin: 0.25rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-dark);
  margin: 0px;
  min-height: 1000px;
  font-family: "Playfair Display", serif;
  .bodyHeader {
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    h1 {
      margin: 6px 10px;
      font-size: clamp(1rem, 1.3vw, 2rem);
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    nav {
      #toggler {
        display: none;
        &:checked {
          ~ ul {
            right: 0;
          }
          ~ label div {
            &:nth-child(1) {
              transform: rotate(45deg);
              top: calc(50% - 1px);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
              top: calc(50% - 1px);
            }
          }
        }
      }
    }
    label {
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.15rem;
      div {
        height: 2px;
        width: 100%;
        background-color: black;
        position: absolute;
        transition: 0.2s;

        &:nth-child(1) {
          top: calc(22% - 1px);
        }
        &:nth-child(2) {
          top: calc(50% - 1px);
        }
        &:nth-child(3) {
          top: calc(78% - 1px);
        }
      }
    }
    ul {
      background-color: var(--background-light);
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      position: fixed;
      right: -100%;
      top: 2.1rem;
      height: calc(100% - 2.1rem);
      transition: 0.5s;
      flex-direction: column;
      li {
        top: 0;
        left: 0;
        margin: 0.3rem;
      }
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem 0.5rem 0 0.5rem;
    header {
      width: 100%;
      h2 {
        margin: 0;
      }
    }
    .content {
      p {
        margin: 0;
        margin-bottom: 2rem;
        padding: 0.1rem;
        line-height: 1.2rem;
      }
      img {
        max-width: 100%;
      }
      .tableWrapper {
        padding: 0 1rem;

        table {
          /* border: 2px dashed red; */
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          width: 100%;
          padding: 1.5rem;
          border-collapse: collapse;
          border-radius: 0.7rem;
          tr {
            background-color: var(--foreground-light);
            padding: 0.25rem;
            text-align: center;
            &:nth-child(even) {
              background-color: rgb(250, 215, 248);
            }
          }
          th {
            background-color: var(--background-light);
            padding: 0.5rem;
          }

          td {
            padding: 0.3rem;
          }
        }
      }
      form {
        /* border: 5px dashed blue; */
        display: flex;
        flex-direction: column;
        padding: 0.3rem;
        gap: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: #b5a8dd;
        margin: 0.1rem;
        border-radius: 0.7rem;
        width: 20rem;
        input,
        textarea {
          padding: 10px;
        }
      }
    }
  }
  footer {
    margin-top: 3rem;
    background-color: black;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    p {
      margin: 0.5rem;
      color: whitesmoke;
    }

    a {
      text-decoration: none;
      color: whitesmoke;
    }
  }
}

@media (min-width: 768px) {
  body {
    .bodyHeader nav {
      ul {
        flex-direction: row;
        position: static;
        background-color: transparent;
      }
      label {
        display: none;
      }
    }
    .wrapper {
      flex-direction: row;
      min-height: 80vh;
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
      > * {
        flex: 1;
        text-align: center;
        padding: 3rem;
      }
    }
  }
}
